<section class="about-container">
  <div id="buffer"></div>
    <div id="divAbout">
      <!-- <h1 id="h1About">How to use Defaced</h1> -->
        <h3 id="h3About">Defaced gives users an easy platform to upload the incredible art they encounter on the streets.<!--  Murals, to tiled mosaics to truly inspired graffiti from all over the world can be uploaded for all to see.  --></h3>
      <ol id= "olAbout">
        <li id= "liAbout">1. Sign in to Facebook or Twitter</li>
        <li id= "liAbout">2. Double click on the map</li>
        <li id= "liAbout">3. Add a title, description & upload a pic... done!</li>
        <li id= "liAbout">
      </ol>
    </div>
  </div>
</section>