<section class="about-container">
  <div id="buffer"></div>
    <div id="divAbout" style="float: left; width: 45%; margin: 5px">
      <!-- <h1 id="h1About">How to use Defaced</h1> -->
        <h3 id="h3About">Defaced gives users an easy platform to upload the incredible art they encounter on the streets. </h3>

      <ol id= "olAbout">
        <li id= "liAbout">1. You must be logged in to submit a new post.</li>
        <li id= "liAbout">2. To create a new post, first double click on the map.</li>
        <li id= "liAbout">3. Enter "Title" and "Description" in the info box, then click "Submit."</li>
        <li id= "liAbout">4. In the new dialog box, you have the option of clicking up/down arrow to upvote or downvote.</li>
        <li id= "liAbout">5. To submit a photo of the street art, click "Upload a Photo." </li>

      </ol>
      <br>
      <br>
        <h3 id="h3About">The Defaced team is based in San Francisco, home to some of the best street art in the world.</h3>
      <br>
    </div>

    <div id="divAbout" class="right" style="float: right; width: 45%"><img style="width: 100%" src="/assets/happyface4.png"></div>
  </div>
</section>