<section class="about-container">
  <div id="buffer"></div>
    <div id="divAbout">
      <h1 id="h1About">How to use Defaced</h1>
      <ol id= "olAbout">
  <!--       <li id="liAbout"><span id="spanAbout"></span><text id="textAbout">
          1. See some awesome street art? Open our app, go to your location
        </text></li>
        <li id="liAbout"><span id="spanAbout"></span><text id="textAbout">
          2. Give it a name and description
        </text></li>
        <li id="liAbout"><span id="spanAbout"></span<<text id="textAbout">
          3. Here's where the fun begins: Take a pic and upload it for the world to see.
        </text></li>
        <li id="liAbout"><span id="spanAbout"></span><text id="textAbout">
          4. See some awesome street art? Open our app, go to your location
        </text></li> -->
        <li>1. See some awesome street art? Open our app, go to your location</li>
        <li>1. See some awesome street art? Open our app, go to your location</li>
        <li>1. See some awesome street art? Open our app, go to your location</li>
        <li>1. See some awesome street art? Open our app, go to your location</li>
        <li>1. See some awesome street art? Open our app, go to your location</li>
        <li>1. See some awesome street art? Open our app, go to your location</li>

      </ol>
    </div>
  </div>
</section>