<section class="about-container">
  <div id="buffer"></div>
    <div id="divAbout">
      <!-- <h1 id="h1About">How to use Defaced</h1> -->
        <h3 id="h3About">Defaced is a site where you can upload the incredible art out there on our streets.<!--  Murals, to tiled mosaics to truly inspired graffiti from all over the world can be uploaded for all to see.  --></h3>
      <ol id= "olAbout">
        <li id= "liAbout">1. Want to add to Defaced? Sign in to Facebook or Twitter</li>
        <li id= "liAbout">2. If you want to add something from the past just double click on the map</li>
        <li id= "liAbout">3. Add a title, description & upload a pic... done!</li>
      </ol>
    </div>
  </div>
</section>