<div class="team-container">
  <div class="member">
    <div class="member-image"><img alt="tejas" src="/assets/512_2.jpg"/></div>
    <div class="name"><a href="http://www.linkedin.com/pub/tejas-mehta/49/58b/574"><h3>Tejas Mehta</h3></a></div>
  </div>

  <div class="member">
    <div class="member-image"><img alt="marco" src="/assets/512_3.jpg" /></div>
    <div class="name"><a href="http://www.linkedin.com/profile/view?id=36274612"><h3>Marco Cerna</h3></a></div>
  </div>

  <div class="member">
    <div class="member-image"><img alt="bryan" src="/assets/512_4.jpg" /></div>
    <div class="name"><a href="www.linkedin.com/pub/bryan-kahler/9/b6/a07/"><h3>Bryan Kahler</h3></a></div>
  </div>

  <div class="member">
    <div class="member-image"><img alt="kristine" src="/assets/512_1.jpg" /></div>
    <div class="name"><a href="www.linkedin.com/pub/kristine-lai-pe-leed-ap/26/925/10"><h3>Kristine Lai</h3></a></div>
  </div>

</div>