Upload a new Photo:
<%= direct_upload_form_for @uploader do |f| %>
  <p><%= f.file_field :image_source, multiple: true, name: "photo[image_source]" %></p>
  <p><%= f.submit "Upload Image" %></p>
<% end %>

