<div id="allPhotosGallery">

<h1 style="margin-top: 100px; color: #34495e">Defaced Gallery</h1>

<ul class="bxSlider">
<% @photos.each do |photo| %>

  <li style="margin-left: -40px"><img style="list-style-type: none" src="<%= photo.remote_image_url %>"></li>

<% end %>
</ul>

</div>