<div style='color:#34495e;'>
<h3>ADD</h3>

<form id='potholeForm'>
  <input style= 'color:black; border: 1px solid #34495e; padding: 2px; margin-bottom: 2px;' id='name' type='text'name='name'placeholder='name'><br>
  <input style= 'color:black; border: 1px solid #34495e; padding: 2px' type='text' id='description' name='description' placeholder='description'>
  <input type='hidden' id='latitude' name='latitude' value='<%= latitude %>'>
  <input type='hidden' id ='longitude' name='longitude' value='<%= longitude %>'><br>
  <button id='ajax' style= 'background:#34495e; color:white; border: 0px; padding: 2px'>Submit Pothole!</button>
</form>
<div>