<div style='color:#8e44ad;'>
<h3>ADD</h3>

<form id='potholeForm'>
  <input style= 'color:black; border: 1px solid #8e44ad ; padding: 2px; margin-bottom: 2px;' id='name' type='text'name='name'placeholder='name'><br>
  <input style= 'color:black; border: 1px solid #8e44ad ; padding: 2px' type='text' id='description' name='description' placeholder='description'>
  <input type='hidden' id='latitude' name='latitude' value='<%= latitude %>'>
  <input type='hidden' id ='longitude' name='longitude' value='<%= longitude %>'><br>
  <button id='ajax' style= 'background:#8e44ad; color:white; border: 0px; padding: 2px'>Submit Pothole!</button>
</form>
<div>