<div id="newTag" style='color:#34495e;'>
<h3>Tag This Location!</h3>

<form id='potholeForm'>
  <input style= 'color:black; border: 1px solid #34495e; padding: 2px; margin-bottom: 2px;' id='name' type='text'name='name'placeholder='Name'><br>
  <input style= 'color:black; border: 1px solid #34495e; padding: 2px' type='text' id='description' name='description' placeholder='Description'>
  <input type='hidden' id='latitude' name='latitude' value='<%= latitude %>'>
  <input type='hidden' id ='longitude' name='longitude' value='<%= longitude %>'><br>
  <button id='ajax'>Submit Tag!</button>
</form>
<div>