<h2>New Pothole</h2>

<form id='potholeForm'>
  <input id='name' type='text'name='name'placeholder='name'><br>
  <input type='text' id='description' name='description' placeholder='description'>
  <input type='hidden' id='latitude' name='latitude' value='<%= latitude %>'>
  <input type='hidden' id ='longitude' name='longitude' value='<%= longitude %>'><br>
  <button id='ajax'>Submit Pothole!</button>
</form>