<div id="infoWindow" style="width: 600px; height: 600px">

<ul class='bxSlider'>
  <% for (i in array) { %>
    <li><img style="max-width: 500px; max-height: 500px" src=<%= array[i] %> ></li>
  <% } %>
</ul>

</div>

