/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#map-canvas {
    height: 100%;
    margin-top: 50px;
}

#panel {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 1;
    background-color: rgb(250,250,250); opacity: .9;
    margin-top: -50px;
    max-height: 51px;
}

#loginDropDown{
    z-index: 50;
    margin-top: -50px;
    position: absolute;
    float: left ;
}

body{
    font-family:"Lucida Grande", arial, sans-serif;
    background:#F3F3F3;
    height:100%;
    margin: 0;
    padding: 0;
}

ul{
    margin:0;
    padding:0;
}

li{
    width:100px;
    height:50px;
    float:left;
    color:#191919;
    text-align:center;
    overflow:hidden;
}

a{
    color:#FFF;
    text-decoration:none;
}

p{
    padding:0px 5px;
}

#loginButton{
    color:white;
}

.blueOne{
    background:#332CA8;
    padding: 10px;
    height: 31px;
    margin-right: auto;
    margin-left: auto;
}
.linkText{
    color:red;
}

