/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body {
  font-family:"Lucida Grande", arial, sans-serif;
  background:#F3F3F3;
}

ul {
  margin:0;
  padding:0;
}

li {
  width:100px;
  height:50px;
  float:center;
  color:#191919;
  text-align:center;
  overflow:hidden;
  display: inline;
  opacity: 1;
}

a {
  color:#FFF;
  text-decoration:none;
}

p {
  padding:0px 5px;
}

.subtext {
  padding-top:15px;
}

.blueOne { background:#332CA8;}
.blueTwo { background:#3C3885;}
.blueThree { background:#181276;}
.blueFour { background:#6962D6;}
.blueFive { background:#8883D6;}
