/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */




#icon{
    height: 30px;
    float: right;
    padding-top: 15px;
    padding-right: 20px;
    }


@media (max-width: 600px){
#icon{
    height: 30px;
    float: right;
    padding-top: 15px;
    padding-right: 50px;
    }
}

#title{
    padding-right: 10px;
    padding-bottom: 10px;
    float: right;
}


#map-canvas {
    height: 100%;
    margin-top: 50px;
}

#panel {
    position: absolute;
    width: 100%;
    z-index: 1;
    color: white;
    font-size: 20px;
    background: #34495e;
    /*background-color: rgb(250,250,250); opacity: .9;*/
    margin-top: -50px;
    padding-bottom: 10px;
    max-height: 51px;

}

#loginDropDown{
    z-index: 50;
    margin-top: -50px;
    position: absolute;
    float: left;
}

#menuButton{
    color:white;
    font-size: 16px;
    padding-bottom: 5px;
}

.blueOne{
    background-color: #34495e;
    height: 30px;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    width:100px;
    height:40px;
    float:left;
    color: #191919;
    text-align:center;
    overflow:hidden;
    display: block;

}

.linkText{
    color: white;
}

a .linkText {

    display: block;
    padding: 3px 20px;
    clear: both;
}


.hoverText{
    color: #e67e22;
}

body{
    font-family:"Lucida Grande", arial, sans-serif;
    background: #F3F3F3;
    height:100%;
    margin: 0;
    padding: 0;
}

#menuItems{
    margin:0;
    padding:0;
    position: relative;
}

a{
    color:#FFF;
    text-decoration:none;
    /*padding-bottom: 20px;*/
}

.hidden {
    display: none;
}

#content {
    border-radius: 20px;
}
