.team-container {
  width: 960px;
  height: 640px;
  overflow: hidden;
  margin: 0 auto;
}

.member {
  width: 230px;
  float: left;
  height: 100%;
  margin-top: 10px;
}

.member:nth-child(1) {
  margin-left: 10px;
}

.member .member-image {
  width: 100%;
  height: 80%;
  display: block;
  overflow: hidden;
}

.member .member-image img {
  height: 100%;
  margin-left: -30%;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

.member .member-image img:hover {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
}

.member .name {
  margin: 0 auto;
  display: block;
  padding: 0;
  width: 160px;
  overflow: hidden;
}

.member .name h3 {
  background: rgba(241, 196, 15,1.0);
  text-align: center;
}