<h1>Test photo thing</h1>


<ul class="bxslider">
  <li><img style="max-width: 300px" src="http://nycprowler.com/prowler/wp-content/uploads/2013/10/cats-animals-kittens-background-us.jpg" /></li>
  <li><img style="max-width: 300px" src="http://www.bubblews.com/assets/images/news/803864926_1375572583.jpg" /></li>
  <li><img style="max-width: 300px" src="http://www.tehcute.com/pics/201109/heart-kittens.jpg" /></li>
</ul>
